.slide {
    display: inline-block;
    position: relative;
    width: 280px;
    z-index: 1;
    white-space: normal;
}

.wrapper-img {
    position: relative;
    z-index: 1;
}

.movie-items {
    height: 400px;
    left: 0;
    top: 0;
    width: 270px;
}

.movie-item {
    height: 400px;
    width: 270px;
    border-radius: 4px;
    transition-duration: 0.5s;

    &:hover {
        opacity: 0.5;
        scale: 1.07;

        .detail-enter {
            opacity: 1;
            z-index: 1000;
        }
    }
}

.detail-enter {
    opacity: 0;
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
}

.action {
    pointer-events: initial;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    transition: all 0.5s ease 0s;
    z-index: 1000;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.border-right {
    height: 21px;
    width: 2px;
    background: rgb(255, 255, 255);
    margin: 0 25px;
    border-right: 0.0625rem solid #e9ecef !important;
}

.movie-name {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 0 1rem;
}

.movie-detail {
    margin: 3.6px 0px 0px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

.movie-language {
    padding-right: 20px;
    position: relative;
    list-style-type: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
}
