.block-ribbon {
    padding-bottom: 3.25rem;
}

.row-container {
    z-index: 0;
    padding: 0;
    position: relative;
    margin: 0;
    padding: 0 4%;
}

.wrapper {
    left: 0;
    overflow-x: visible;
    position: relative;
    top: 0;
}

.slides {
    transform: translate3d(0%, 0px, 0px);
}

.arrow-left {
    align-items: center;
    display: flex;
    height: 152px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    width: 50.7625px;
    z-index: 3;
    cursor: pointer;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.5);
    -webkit-box-align: center;
    -webkit-box-pack: center;

    &:hover {
        .active-path {
            scale: 1.5;
        }
    }
}

.arrow-right {
    align-items: center;
    display: flex;
    height: 152px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    width: 60.7625px;
    z-index: 3;
    cursor: pointer;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.5);
    -webkit-box-align: center;
    -webkit-box-pack: center;

    &:hover {
        .active-path {
            scale: 1.5;
        }
    }
}

.active-path {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    fill: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out 0s;
}




