
.block-ribbon {
    padding-bottom: 52px;
}

.title-movie-pass {
    align-items: center;
    display: flex;
    margin: 0px 4% 1.111vw;

    -webkit-box-align: center;
}

.link-movie-pass {
    text-decoration-color: rgb(225, 78, 202);
    text-decoration-line: none;
    background-color: rgba(0, 0, 0, 0);
}

.wrapper-link-movie-pass {
    position: relative;
    font-size: 21.335px;
    font-weight: 700;
    line-height: 32.0026px;
    color: rgb(255, 255, 255);
}

.icon-link {
    box-sizing: content-box;
    left: 100%;
    padding-left: 12.7949px;
    position: absolute;
    top: 16px;
    width: 25.6px;
    vertical-align: middle;
    transform: matrix(1, 0, 0, 1, 0, -12.8);
    transition: all 300ms ease 0s;

    &:hover {
        padding-left: 1.667vw;
    }
}

.row {
    box-sizing: content-box;
    position: relative;
    z-index: 10;
    animation: 1s ease 0s 1 normal none running;
}

.inline-row-first {
    padding: 0;
}

.inline-row-second {
    position: relative;
    padding: 0 4%;
    margin: 0;
}

.inline-row-third {
    left: 0;
    overflow-x: visible;
    position: relative;
    top: 0;
}

.inline-row-forth {
    white-space: nowrap;
    transition: transform 1000ms ease 0s;
    transform: translate3d(0%, 0px, 0px);
}

.slide-active {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    width: 279.525px;
    z-index: 4;
    vertical-align: top;
    white-space: normal;
    transition-duration: 0.5s;
    transform: translate3d(0px, 0px, 0px);

    &:hover {
        transform: scale(1.5);
        z-index: 5;
    }
}

.inner-slide-active-first {
    position: relative;
}

.img-placeholder {
    padding-top: 151.6px;
    width: 269.525px;
    border-radius: 4px;
    background: rgb(51, 51, 51);
}

.inner-slide-active-second {
    height: 151.6px;
    left: 0;
    position: absolute;
    top: 0;
    width: 269.525px;
    transition-duration: 0.5s;
}

.inner-slide-active-third {
    height: 151.6px;
    position: relative;
    width: 269.525px;
    border-radius: 4px;
}

a {
    text-decoration-color: rgb(225, 78, 202);
    text-decoration-line: none;
    color: rgb(225, 78, 202);
    background-color: rgba(0, 0, 0, 0);
}

.hover-img-ratio {
    padding-top: 151.6px;
    position: relative;
    background: rgb(51, 51, 51);
}

.hover-img {
    height: 151.6px;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 269.525px;
    vertical-align: middle;
    background-size: cover;
    border-radius: 4px;
}

.block-ribbon-landscape {
    padding-bottom: 52px;
}

.inline-row-third-first {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    width: calc(4% - 10px);
    z-index: 3;
    cursor: pointer;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.5);

    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.slide-dots {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 8px;
    top: -15px;
    width: 1397.68px;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;

    -webkit-box-pack: end;
}

.slide-dot-active {
    height: 2px;
    margin-left: 3px;
    width: 15px;
    opacity: 1;
    background: rgb(193, 193, 193);
}

.slide-dot {
    height: 2px;
    margin-left: 3px;
    width: 15px;
    opacity: 0.25;
    background: rgb(193, 193, 193);
}

.inner-slide-third-first {
    align-items: center;
    bottom: 4px;
    display: flex;
    height: 21.325px;
    justify-content: flex-start;
    left: 0;
    position: absolute;
    width: 269.525px;
    transition-duration: 0.5s;

    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.img-slide-third-first {
    height: 21.325px;
    max-width: 100%;
    width: 76.7625px;
    vertical-align: middle;
}

.inner-slide-third-second {
    display: block;
    left: 134.762px;
    position: absolute;
    top: 75.8px;
    transform: translate(-50%, -50%);
}

.arrow-left {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    fill: rgb(255, 255, 255);
    background: rgba(20, 20, 20, 0.5);
}

.inline-row-third-second {
    align-items: center;
    display: flex;
    height: 151.6px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 75.8px;
    width: 60.7625px;
    z-index: 3;
    cursor: pointer;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.5);

    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.arrow-right {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    fill: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out 0s;

    &:hover {
        transform: scale(1.4);
    }
}

.inline-row-second:hover {
    .slide-dots {
        opacity: 1;
    }
}

.inner-slide-active-third:hover {
    .inner-slide-third-first {
        width: 404.288px;
    }
}

.overlay-enter-done {
    display: block;
    opacity: 0;
    transition: opacity 500ms ease 0s;

    &:hover{
        opacity: 1;
    }
}

.inner-overlay-enter-done {
    bottom: -1px;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.22) 5%, rgb(0, 0, 0));
    border-radius: 4px;
}

.detail-enter-done {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 404.288px;
    opacity: 0;
    pointer-events: auto;
    padding: 11px 18px;
}

.inner-detail-enter-done-first {
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 22px;
    overflow: hidden;
}

.inner-detail-enter-done-second {
    text-overflow: ellipsis;
    margin: 3.6px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

.inner-inner-detail-enter-done-second {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    list-style-type: none;
}
