.slide {
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    width: 20%;
}

.wrapper-img {
    position: relative;
}

.movie-items {
    height: 152px;
    width: 270px;
    top: 0;
    left: 0;
    transition-duration: 0.5s;

    &:hover {
        scale: 1.07;
    }
}

.movie-item {
    height: 152px;
    width: 270px;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
}